/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
	body {
	    background: url("../../img/bg.png");
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center;
	    /*height: 100vh;*/
	}
	main .homePage{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px 30px;
		gap: 50px;
	}
	header{
		align-items: flex-start;
		padding: 30px 0;
		gap: 120px;
	}
	ul.navLinks{
		display: none;
	}
	.menuContainer {
	    display: inline-block;
	    cursor: pointer;
	}

	section.description{
		padding: 50px 0px 0px;
		margin: 0;
	}
	div.headingIntro{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
		gap: 20px;
		width: 100%;
		margin: 0;
	}
	div.headingIntro h1{
		font-weight: 800;
		font-size: 45px;
		line-height: 58px;
	}
	div.headingIntro p{
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 22px;
		line-height: 27px;
		color: #FFFFFF;
	}
	section.getStartedForm{
		margin: 0;
		margin-bottom: 20px;
	}
	form.getStarted{
		flex-direction: column;
		align-items: flex-start;
		padding: 10px 0px;
		gap: 20px;
		width: 100%;
		margin: 0;
	}
	.field{
		padding: 0px 30px 20px;
		gap: 50px;
		border: none;
		border-bottom: 1px solid #DDDDDD;
		width: 100%;/* Come back here if you have a problem */
	}
	.emailField, .passwordField{
		gap: 6px;
	}
	label{
		font-size: 14px;
	}
	.inputField{
		margin: 0;
	}
	.getStartedButton{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 10px 30px;
		gap: 10px;
	}
	.getStartedBtn{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: flex-end;
		padding: 5px 25px;
		gap: 5px;
		background: #091E42;
		border-radius: 30px;
		border: none;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 124.2%;
		color: #FFFFFF;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) and (max-width: 768px){
	body {
	    background: url('../../img/bg.png');
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center;
	    height: 100vh;
	}
	main.homePage{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 34px 28px;
		gap: 200px;
	}
	header{
		/*display: flex;
		flex-direction: row;*/
		align-items: flex-start;
		padding: 0px;
		gap: 500px;
	}
	ul.navLinks{
		display: none;
	}
	.menuContainer {
	    display: inline-block;
	    cursor: pointer;
	}
	section.body{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px;
		gap: 30px;
	}
	section.description{
		/*display: flex;
		flex-direction: column;*/
		justify-content: center;
		/*align-items: flex-start;*/
		/*padding: 0px;*/
		/*gap: 40px;*/
		margin: 0;
	}

	div.headingIntro{
		/*display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
		gap: 20px;*/
		width: 59%;
		margin: 0;
	}
	div.headingIntro h1{
		/*font-family: 'Inter';
		font-style: normal;*/
		font-weight: 800;
		font-size: 59px;
		line-height: 58px;
		color: #FFFFFF;
		margin: 0;
	}
	div.headingIntro p{
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 22px;
		line-height: 27px;
		color: #FFFFFF;
	}
	section.getStartedForm{
		align-items: center;
		padding: 8px 10px;
		gap: 5px;
		width: 100%;
		margin: 0;
	}
	form.getStarted{
		align-items: flex-start;
		padding: 0px;
		border-bottom: 1px solid #666666;
		gap: 0px;
		width: auto;
		background: transparent;
	}
	.line{
		border-right: 1px solid #FFFFFF;
	}
	.field{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		padding: 0px;
	}
	.emailField, .passwordField{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 5px 0px 0px;
		gap: 10px;
	}
	.passField{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		padding: 0px 5px 0px 10px;
		gap: 100px;
	}
	label{
		font-family: 'Inter';
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 124.2%;
		color: #FFFFFF;
	}
	.inputField{
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 124.2%;
		color: #797979;
		background: transparent;
		border: none;
		margin-right: 20px;
	}
	.getStartedButton{
		margin-top: 5px;
	}
	.getStartedBtn{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 10px 15px;
		gap: 5px;
		background: #22385B;
		border-radius: 30px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 124.2%;
		color: #FFFFFF;
		border: none;
	}
	.error{
		display: flex;
		flex-direction: row;
		align-items: flex-start !important;
		padding: 10px 40px;
		gap: 10px;
		width: inherit;
		margin: 0;
	}
	.error p{
		font-family: 'Inter';
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 124.2%;
		color: #BB2E1B;
		/*margin-left: 25px;*/
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 992px) {
	
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}